[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
langchain = "*"
langchain-chroma = "*"
langchain-classic = "*"
langchain-ollama = "*"
langchain-pinecone = "*"
langchain-tavily = "*"
python-dotenv = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
